<!DOCTYPE html>
<html dir="ltr" lang="en-US">


    <head>
        {{ theme:partial name="metadata" }}
    </head>

    <body class="stretched no-transition">

        <div id="wrapper" class="clearfix">
        
            {{ theme:partial name="header" }}

        <section id="slider" class="slider-element full-screen">
        <div class="full-screen dark section nopadding nomargin noborder ohidden">
        <div class="container clearfix">
        <div class="slider-caption slider-caption-center">
        <h2 data-animate="fadeInUp">&nbsp;</h2>
        <p class="d-none d-sm-block" data-animate="fadeInUp" data-delay="200">
            Air Demineral Untuk Indonesia.</p>
        <a data-animate="fadeInUp" data-delay="400" href="users/pendaftaran" class="button button-border button-light button-rounded button-large noleftmargin nobottommargin d-none d-md-inline-block" style="margin-top: 30px;">Daftar Sekarang</a>
        </div>
        </div>
        <div class="video-wrap">
        <video poster="assets/images/videos/deskwork.jpg" preload="auto" loop autoplay muted>
        <source src='assets/jakarta.mp4' type='video/mp4' />
        <source src='assets/images/videos/deskwork.webm' type='video/webm' />
        </video>
        <div class="video-overlay" style="background-color: rgba(0,0,0,0.45);"></div>
        </div>
        </div>
        </section>
        <section id="content" style="margin-bottom: 0px;">
            <div class="content-wrap">
            <div class="container clearfix">
                
                </div>
                </div>
                </section>
                <section id="content" style="margin-bottom: 0px;">
                    <div class="content-wrap">
                    <div class="container clearfix">
     <a data-animate="fadeInUp" data-delay="400" href="users/pendaftaran" class="button button-danger" style="margin-top: 30px;">Daftar Sekarang</a>
        </div>
        </div>
        </section>
        {{ theme:partial name="footer" }}
        </div>
        
        <div id="gotoTop" class="icon-angle-up"></div>
        {{ theme:partial name="js" }}
       
    
    </body>
    </html>
